
/**********************************/
/*  Стили для выпадающего списка категорий  *******************************************************/

.category-menu {
    width: 100%;
}

.first-menu ul {
    padding-left: 20px;
    display: block;
}

.first-menu li{
    list-style: none;
    margin-bottom: 3px;
    display: block;
    overflow: visible;
    float: none;
    clear: none;
}

.first-menu a{
    text-decoration: none;
}

.first-menu input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.first-menu label, .first-menu a {
    color: #333;
    font-size: 1rem;
}

.first-menu label:after{
    content: ' \25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
    padding-right: 5px; /* Расстояние от маркеров до текста */
    color: red; /* Маркеры красного цвета */
    position: relative;
    left: 20px;
    transition: 1s;
}

.first-menu label {
    position: relative;
    display: block;
    overflow: visible;
    float: right;
    clear: none;
    cursor: pointer;
}

.checkbox-label {
    margin: 0px;
    float: none;
    cursor: pointer;
}

.first-menu input[type=checkbox]:checked + label + ul,
.first-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    display: none;
}

.first-menu input[type=checkbox]:checked + label:after{
    left: 0px;
    color: #FFB321;
}

.oval{
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid PeachPuff;
    border-radius: 8px;
    background: Moccasin;
}

/*********************************************************************************************/

/* выравнивание для корзины в шапке*/
.my-cart{
    text-align: right;
    margin-top: 30px;
}

/* выравнивание для поиска в шапке*/
.my-search{
    margin-top: 30px;

}

/* стиль строки поиска, точнее поле input, в шапке сайта*/
.my-input-search{
    width: 80% !important;
    height: 40px;
    display: inline-block !important;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
}

/* кнопка поиска в шапке сайта*/
.my-btn-search{
    height: 40px !important;
    margin-top: -5px !important;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
    margin-left: -5px;
    background: #f6871f;
    width: 100px !important;
}

/* тень под шапкой + фиксация зоны с логотипом*/
#sp-logozone{
    border-bottom: 1px solid rgba(38,38,38,0.1);
    box-shadow:0px 5px 5px 0px rgba(38,38,38,0.1);
    -webkit-box-shadow:0px 5px 5px 0px rgba(38,38,38,0.1);
    -moz-box-shadow:0px 5px 5px 0px rgba(38,38,38,0.1);
    width: 100%;
    z-index: 150;
    margin-top: 44px;
    position: fixed;
}
/* фиксация меню */
#sp-menu {
    width: 100%;
    margin-top: 80px;
    height: auto;
    position: fixed;
    z-index: 140;
    background: #fff;
    box-shadow:0px 5px 8px 0px rgba(255,255,255,0.3);
    -webkit-box-shadow:0px 5px 8px 0px rgba(255,255,255,0.3);
    -moz-box-shadow:0px 5px 5px 8px rgba(255,255,255,0.3);
}
/* сдвиг основного контента вниз, чтобы фиксированное меню не перекрывало */
#sp-main-body {
    width: 100%;
    margin-top: 161px;
}
/* фиксация верхней информационной строки */
#sp-inform-top {
    width: 100%;
    position: fixed;
    z-index: 150;
}

/* стиль для цифры(количества товаров в корзине) в шапке*/
#jshop_quantity_products{
    font-size: .6em;
    margin-left: 5px;
}
/* Стиль для иконки корзины в шапке */
.fa-shopping-cart::before {
    content: "\f07a";
    font-size: 1.2rem;
}

/* выравниваем надпись Корзина */
#jshop_module_cart a {
    line-height: 1.95rem;
}

/* Убираем копирайт со страниц*/
body #mxcpr,a[href="https://www.webdesigner-profi.de/"]{display:none!important}

/* стиль для ссылок в мега меню Наши услуги*/
.my-mega .sp-mega-group > li > a:hover{
    color: #f6871f;
}

/* Скрыла пока кнопку Изменить для всех материалов на сайте */
.article-details .article-can-edit {
    position: absolute !important;
    left: 0;
    top: 0;
    height: 0.001px;
    width: 0.001px;
}
.article-details .article-can-edit a {
    position: absolute !important;
    left: 0;
    top: 0;
    height: 0.001px;
    width: 0.001px;
    display: none !important;
}

/* Заголовки к статьям на сайте */
.beginTitleArticles {
    margin: 30px auto;
    padding: 20px auto;
    text-align: left;
}

.beginTitleArticles h1 {
    font-size: 1.8rem !important;
}