
/**********************************/
/*  Стили для выпадающего списка категорий  *******************************************************/

.category-menu {
    width: 100%;
}

.first-menu ul {
    padding-left: 20px;
    display: block;
}

.first-menu li{
    list-style: none;
    margin-bottom: 3px;
    display: block;
    overflow: visible;
    float: none;
    clear: none;
}

.sp-module ul > li > a:hover {
    color: #f46140 !important;
}

.first-menu a{
    text-decoration: none;
}

.first-menu input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.first-menu label, .first-menu a {
    color: #333;
    font-size: 1rem;
}

.first-menu label:after{
    content: ' \25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
    padding-right: 5px; /* Расстояние от маркеров до текста */
    color: red; /* Маркеры красного цвета */
    position: relative;
    left: 20px;
    transition: 1s;
}

.first-menu label {
    position: relative;
    display: block;
    overflow: visible;
    float: right;
    clear: none;
    cursor: pointer;
}

.checkbox-label {
    margin: 0px;
    float: none;
    cursor: pointer;
}

.first-menu input[type=checkbox]:checked + label + ul,
.first-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    display: none;
}

.first-menu input[type=checkbox]:checked + label:after{
    left: 0px;
    color: #FFB321;
}

.oval{
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid PeachPuff;
    border-radius: 8px;
    background: Moccasin;
}

/*********************************************************************************************/

/* выравнивание для корзины в шапке*/
.my-cart{
    text-align: right;
    margin-top: 20px;
}

.jshop {
    margin-top: 10px;
}

#system-message-container {
    margin-top: 15px;
}

/* выравнивание для поиска в шапке*/
.my-search{
    margin-top: 20px;

}

/* стиль строки поиска, точнее поле input, в шапке сайта*/
.my-input-search{
    width: 80% !important;
    height: 40px;
    display: inline-block !important;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
}

/* кнопка поиска в шапке сайта*/
.my-btn-search{
    height: 40px !important;
    margin-top: -5px !important;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
    margin-left: -5px;
    background-color: #f46140;
}

/* тень под шапкой + фиксация зоны с логотипом*/
#sp-logozone{
    border-bottom: 1px solid rgba(38,38,38,0.1);
    box-shadow:0px 5px 5px 0px rgba(38,38,38,0.1);
    -webkit-box-shadow:0px 5px 5px 0px rgba(38,38,38,0.1);
    -moz-box-shadow:0px 5px 5px 0px rgba(38,38,38,0.1);
    width: 100%;
    z-index: 150;
    margin-top: 44px;
    padding: 0 !important;
    position: fixed;
}
/* фиксация меню */
#sp-menu {
    width: 100%;
    margin-top: 70px;
    height: auto;
    position: fixed;
    z-index: 140;
    background: #fff;
    box-shadow:0px 5px 8px 0px rgba(255,255,255,0.3);
    -webkit-box-shadow:0px 5px 8px 0px rgba(255,255,255,0.3);
    -moz-box-shadow:0px 5px 5px 8px rgba(255,255,255,0.3);
}
/* сдвиг основного контента вниз, чтобы фиксированное меню не перекрывало */
#sp-main-body {
    width: 100%;
    padding: 50px 0 !important;
    margin-top: 161px;
    min-height: 75vh;
}
/* фиксация верхней информационной строки */
#sp-inform-top {
    width: 100%;
    position: fixed;
    z-index: 150;
}

/* стиль для цифры(количества товаров в корзине) в шапке*/
#jshop_quantity_products{
    font-size: .6em;
    margin-left: 5px;
}
/* Стиль для иконки корзины в шапке */
.fa-shopping-cart::before {
    content: "\f07a";
    font-size: 1.2rem;
}

/* выравниваем надпись Корзина */
#jshop_module_cart a {
    line-height: 1.95rem;
}

/* Убираем копирайт со страниц*/
body #mxcpr,a[href="https://www.webdesigner-profi.de/"]{display:none!important}

/* стиль для ссылок в мега меню Наши услуги*/
.my-mega .sp-mega-group > li > a:hover{
    color: #f46140;
}

/* Скрыла пока кнопку Изменить для всех материалов на сайте */
.article-details .article-can-edit {
    position: absolute !important;
    left: 0;
    top: 0;
    height: 0.001px;
    width: 0.001px;
}
.article-details .article-can-edit a {
    position: absolute !important;
    left: 0;
    top: 0;
    height: 0.001px;
    width: 0.001px;
    display: none !important;
}

/* Заголовки к статьям на сайте */
.beginTitleArticles {
    margin: 0 auto;
    padding: 10px auto;
    text-align: left;
}

.beginTitleArticles h1 {
    font-size: 1.8rem !important;
}

/*****************************/
/* Стили для формы на странице Формирование библиотек */
.bootstrap-wrapper.SfFormElementContainer .rednao-control-group .rednao_control_label{
    Font-Family:Tahoma !important;
    font-weight:normal !important;
    }
    
    .bootstrap-wrapper.SfFormElementContainer .rednao-control-group {
    background-color:null !important;
    border-right:1px double null !important;
    }
    .bootstrap-wrapper.SfFormElementContainer #rnField10 .rednao_control_label{
    color:null !important;
    }
    .bootstrap-wrapper.SfFormElementContainer #rnField10 {
    background-color:null !important;
    }
    .bootstrap-wrapper.SfFormElementContainer #rnField10 .redNaoSubmitButton{
    color:#ffffff !important;
    background-color:#f46140 !important;
    }
    .nameFormat .rednao_label_container, .phoneFormat .rednao_label_container, .mailFormat .rednao_label_container, .messageFormat .rednao_label_container, .redNaoControls{
    padding:0 !important;
    }
    .rednao_label_container{
    flex: 0 0 100% !important;
    max-width: 100% !important;
    }
    

/*****************************/
/*****************************/
/*****************************/
/* СТИЛИ ДЛЯ МЕДИА УСТРОЙСТВ */


/* laptop */
@media (min-width: 1200px) {
    /* главная страница */
    .logo-image {
        width: 100%;
        padding: 15px;
    }
    #sp-logozone {
        margin-top: 44px !important;
    }
    .jshop_categ {
        min-height: auto !important;
    }
    .topBlock > .label_products > .block_item > .item_image > a > img {
        max-height: 200px !important;
    }
    /* о нас */
    .book-img {
        margin: 40px 0 0 30px !important;
    }
    /* страница категории */
    .product_title {
        max-height: 90px !important;
        min-height: 90px !important;
    }
    .product_title > a {
        height: 90px;
        display: inline-block;
    }
    .product_title {
        overflow: hidden;
        padding: 0;
    }
    .product_title::after {
        content: "";
        display: block;
        height: 15px;
        position: relative;
        bottom  : 35px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff 75%);
    }
    /* страница категория */
    .box_products_count_to_page {
        margin-left: 0 !important;
    }
    /* формирование библиотек */
    .phoneFormat > .redNaoControls > .form-inline .form-group:first-child{
        width: 100px;
    }
    .phoneFormat > .redNaoControls > .form-inline .form-group:last-child{
        width: 300px;
    }
    .mailFormat > .redNaoControls > .rednao-input-prepend{
        width: 385px;
    }
    .nameFormat > .redNaoControls > .rednao-input-prepend .form-control {
        width: 500px;
    }
    .messageFormat textarea {
        width: 535px !important;
    }
    /* заказ/адрес */
    #jshop_menu_order {
        padding-left: 0 !important;
    }
}

/* планшет перевернутый в ширину */
@media (max-width: 1199px) and (min-width: 992px) {
    /* главная страница */
    #sp-top1 {
        width: 20%;
    }
    #sp-top2 {
        width: 80%;
    }
    #sp-position1 {
        margin-left: -5px;
    }
    .logo-image {
        width: 100%;
        padding: 20px;
    }
    #slider-container117 {
        width: 85%;
        left: 7.5%;
    }
    #navigation117 {
        margin: 0 !important;
    }
    #sp-menu {
        margin-top: 70px;
    }
    #sp-component {
        margin-top: 20px;
    }
    .topBlock > .label_products > .block_item > .item_image > a > img {
        max-height: 200px !important;
    }
    /* о нас */
    .book-img {
        margin: 40px 0 0 30px !important;
    }
    /* страница категории */
    .jshop .product_label {
        right: -8px;
        top: 8px;
    }
    .mainblock, .my_btn_styles {
        margin-left: 50px !important;
    }
    .product_title {
        max-height: 90px !important;
        min-height: 90px !important;
    }
    .product_title > a {
        height: 90px;
        display: inline-block;
    }
    .product_title {
        overflow: hidden;
        padding: 0;
    }
    .product_title::after {
        content: "";
        display: block;
        height: 15px;
        position: relative;
        bottom  : 15px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff 75%);
    }
    /* страница категория */
    .box_products_count_to_page {
        margin-left: 0 !important;
    }
    /* страница книги */
    .productfull .span7 {
        width: 50% !important;
    }
    .productfull .product_label {
        right: -10px !important;
    }
    /* формирование библиотек */
    .phoneFormat > .redNaoControls > .form-inline .form-group:first-child{
        width: 100px;
    }
    .phoneFormat > .redNaoControls > .form-inline .form-group:last-child{
        width: 300px;
    }
    .mailFormat > .redNaoControls > .rednao-input-prepend{
        width: 385px;
    }
    .nameFormat > .redNaoControls > .rednao-input-prepend .form-control {
        width: 500px;
    }
    .messageFormat textarea {
        width: 535px !important;
    }
    /* расширенный поиск */
    .search_wrap {
        width: 40% !important;
    }
    /* заказ/адрес */
    #jshop_menu_order {
        padding-left: 0 !important;
    }
}

/* планшет в высоту*/
@media (max-width: 991px) and (min-width: 768px) {
    /* главная страница */
    #sp-top1 {
        width: 20%;
    }
    #sp-top2 {
        width: 80%;
    }
    #sp-logozone {
        margin-top: 68px;
    }
    #sp-logozone .row {
        flex-wrap: nowrap !important;
    }
    #sp-logo {
        max-width: 47% !important;
    }
    #sp-search {
        max-width: 41% !important;
    }
    #sp-position1 {
        max-width: 12% !important;
    }
    .logo-image-phone {
        width: 100%;
        padding: 20px;
    }
    .my-input-search {
        width: 70% !important;
    }
    #sp-menu {
        margin-top: 75px;
        height: 60px;
    }
    #slider-container117 {
        width: 85%;
        left: 7%;
    }
    #sp-main-body {
        padding-bottom: 0 !important;
    }
    .topBlock > .label_products > .block_item > .item_image > a > img {
        max-height: 200px !important;
    }
    /* о нас */
    .book-img {
        width: 160px !important;
        margin: 40px 0 0 30px !important;
    }
    /* страница категории */
    .box_products_sorting {
        width: 50% !important;
    }
    .box_products_count_to_page{
        width: 40% !important;
    }
    .mainblock {
        width: 65% !important;
    }
    .jshop .product_label {
        right: 0;
    }
    .product_title {
        max-height: 90px !important;
        min-height: 90px !important;
    }
    .product_title > a {
        height: 90px;
        display: inline-block;
    }
    .product_title {
        overflow: hidden;
        padding: 0;
    }
    .product_title::after {
        content: "";
        display: block;
        height: 15px;
        position: relative;
        bottom  : 15px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff 75%);
    }
    /* страница книги */
    .productfull .span7 {
        width: 45% !important;
    }
    .productfull .product_label {
        right: -10px !important;
    }
    .productfull .span5 {
        width: 50% !important
    }
    /* контакты */
    #slider-container118 {
        width: 84%;
        left: 8%;
    }
    #cust-navigation118 {
        right: 50px !important;
    }
    /* расширенный поиск */
    .js_search_gen .controls {
        margin-left: 100px !important;
    }
    .search_wrap {
        width: 50% !important;
    }
    /* формирование библиотек */
    .col-sm-6 {
        max-width: 100% !important;
    }
    .phoneFormat > .redNaoControls > .form-inline .form-group:first-child{
        width: 100px;
    }
    .phoneFormat > .redNaoControls > .form-inline .form-group:last-child{
        width: 300px;
    }
    .mailFormat > .redNaoControls > .rednao-input-prepend{
        width: 385px;
    }
    .nameFormat > .redNaoControls > .rednao-input-prepend .form-control {
        width: 500px;
    }
    .messageFormat textarea {
        width: 535px !important;
    }
    /* заказ/адрес */
    #jshop_menu_order {
        padding-left: 0 !important;
    }
}

/* перевернутый в ширину телефон */
@media (max-width: 767px) and (min-width: 576px) {
    /* главная страница */
    #sp-inform-top {
        display: none;
    }
    #sp-top1 {
        width: 10%;
    }
    #sp-top2 {
        width: 90%;
    }
    #sp-top2, #sp-top1 {
        padding: 0;
    }
    #sp-logozone {
        margin-top: 0;
    }
    #sp-logo {
        max-width: 50% !important;
    }
    .logo-image-phone {
        height: 70px !important;
        width: 100%;
        padding: 10px;
    }
    #sp-search {
        display: none;
    }
    #sp-position1 {
        max-width: 50% !important;
    }
    .my-cart {
        margin-top: 0 !important;
    }
    #sp-menu {
        margin-top: 25px;
        height: 60px;
    }
    #offcanvas-toggler {
        height: 30px !important;
    }
    #slider-container117 {
        width: 85%;
        left: 7%;
    }
    #navigation117 {
        margin: 0 !important;
    }
    .sp-scroll-up {
        bottom: 21px !important;
        right: 10px !important;
    }
    .logo {
        margin-left: -7px;
    }
    #sp-main-body {
        padding-bottom: 0 !important;
        margin-top: 40px;
    }
    .topBlock > .label_products > .block_item > .item_image {
        height: 180px !important;
    }
    .topBlock > .label_products > .block_item > .item_price {
        font-size: 1rem;
    }    
    .topBlock > .label_products > .block_item > .item_image > a > img {
        max-height: 180px !important;
    }
    /* о нас */
    .book-img {
        width: 150px !important;
        margin: 40px 0 0 30px !important;
    }
    /* новые поступления */
    .jshop_list_product {
        margin-top: 50px;
    }
    /* страница категории */
     .box_products_sorting {
        width: 40% !important;
    }
    .box_products_count_to_page{
        width: 40% !important;
    }
    .jshop .product_label {
        top: 5px;
        left: 4px;
    }
    .mainblock {
        width: 65% !important;
    }
    .product_title {
        max-height: 90px !important;
        min-height: 90px !important;
    }
    .product_title > a {
        height: 90px;
        display: inline-block;
    }
    .product_title {
        overflow: hidden;
        padding: 0;
    }
    .product_title::after {
        content: "";
        display: block;
        height: 15px;
        position: relative;
        bottom  : 15px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff 75%);
    }
    /* страница категория в категории */
    .jshop {
        margin-top: 50px;
    }
    /* категория */
    .box_products_sorting, .box_products_count_to_page {
        margin-left: 0 !important;
    }
    .box_products_sorting select, .box_products_count_to_page select {
        margin-left: 0 !important;
    }
    /* страница книги */
    .productfull .span7 {
        width: 45% !important;
    }
    .productfull .product_label {
        right: -10px !important;
    }
    .productfull .span5 {
        width: 50% !important
    }
    /* доставка и оплата */
    .delivery, .parcel, .pay {
        width: 200px !important;
    }
    /* формирование библиотек */
    .phoneFormat > .redNaoControls > .form-inline .form-group:first-child{
        width: 100px;
    }
    .phoneFormat > .redNaoControls > .form-inline .form-group:last-child{
        width: 300px;
    }
    .mailFormat > .redNaoControls > .rednao-input-prepend{
        width: 263px;
    }
    .nameFormat > .redNaoControls > .rednao-input-prepend .form-control {
        width: 50vw;
    }
    /* контакты */
    #slider-container118 {
        width: 84%;
        left: 8%;
    }
    #cust-navigation118 {
        right: 40px !important;
    }
    .yandexMap > ymaps {
        max-height: 300px !important;
    }
    /* корзина */
    .table td, .table th {
        padding: 0 !important;
        text-align: center !important;
    }
    .jshop_prod_cart .product_name > a {
        max-height: 200px !important;
        display: inline-block;
        overflow: hidden;
        padding: 5px;
    }
    /* заказ/адрес */
    #jshop_menu_order {
        padding-left: 0 !important;
    }
}

/* телефон в высоту */
@media (max-width: 575px) {
    /* главная страница */
    #sp-logozone {
        margin-top: 0;
    }
    #sp-logo {
        max-width: 70% !important;
        margin-right: 0;
    }
    .logo-image-phone {
        height: 70px !important;
        width: 100%;
        padding: 15px;
    }
    #sp-search {
        display: none;
    }
    #sp-position1 {
        max-width: 30% !important;
    }
    #sp-inform-top {
        display: none;
    }
    #sp-menu {
        margin-top: 25px;
        max-height: 60px;
    }
    #sp-component {
        margin-top: 40px;
    }
    .my-cart {
        margin-top: 0 !important;
    }
    #slider-container117 {
        width: 84%;
        left: 8%;
    }
    .sp-scroll-up {
        bottom: 21px !important;
        right: 10px !important;
    }
    #sp-main-body {
        margin-top: 0;
    }
    .topBlock > .label_products > .block_item {
        width: 48% !important;
    }
    .topBlock > .label_products > .block_item > .item_price {
        font-size: 1rem;
    } 
    .topBlock > .label_products > .block_item > .item_image > a > img {
        max-height: 200px !important;
    }
    /* о нас */
    .book-img {
        width: 130px !important;
        margin: 40px 0 0 30px !important;
    }
    /* новые поступления */
    .jshop_list_product {
        margin-top: 50px;
    }
    /* страница категории */
    .jshop_list_category {
        margin-top: 40px !important;
    }
    .jshop_categ {
        text-align: left;
    }
    .box_products_sorting {
        width: 50% !important;
    }
    .box_products_count_to_page{
        width: 40% !important;
    }
    .jshop .product_label {
        top: 5px;
        left: 4px;
    }
    .mainblock {
        width: 65% !important;
    }
    .btn-buy {
        width: 50%;
    }
    .product_title {
        max-height: 70px !important;
        min-height: 70px !important;
    }
    .product_title > a {
        height: 70px;
        display: inline-block;
    }
    .product_title {
        overflow: hidden;
        padding: 0;
    }
    .product_title::after {
        content: "";
        display: block;
        height: 15px;
        position: relative;
        bottom  : 15px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff 75%);
    }
    /* страница категория */
    .jshop_list_product .box_products_count_to_page {
        margin-left: 0 !important;
        display: flex;
        flex-direction: column;
    }
    .jshop_list_product .box_products_sorting {
        margin-left: 0 !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box_products_count_to_page select {
        margin-left: 0px !important;
        width: 90% !important;
    }
    .box_products_sorting select {
        margin-left: 0px !important;
        width: 80% !important;
    }
    .jshop_list_product .box_products_sorting img {
        margin-top: 8px !important;
    }
    /* страница книги */
    .productfull .span7 {
        width: 100% !important;
    }
    .productfull .span5 {
        width: 100% !important
    }
    /* подарочные сертификаты */
    .sertificateCarts {
        width: 200px !important;
    }
    /* доставка и оплата */
    .delivery, .parcel, .pay {
        width: 400px !important;
    }
    /* формирование библиотек */
    .phoneFormat > .redNaoControls > .form-inline .form-group:first-child{
        width: 100px !important;
    }
    .phoneFormat > .redNaoControls > .form-inline .form-group:last-child{
        width: 178px !important;
    }
    .mailFormat > .redNaoControls > .rednao-input-prepend{
        width: 263px !important;
    }
    .nameFormat > .redNaoControls > .rednao-input-prepend .form-control {
        width: 70vw !important;
    }
    /* контакты */
    #slider-container118 {
        width: 84%;
        left: 8%;
    }
    #cust-navigation118 {
        right: 30px !important;
    }
    .yandexMap > ymaps {
        max-height: 300px !important;
    }
    /* корзина */
    .table td, .table th {
        padding: 0 !important;
        text-align: center !important;
    }
    .jshop_prod_cart .product_name > a {
        max-height: 200px !important;
        display: inline-block;
        overflow: hidden;
        /*padding: 5px;*/
    }
    .jshop_prod_cart .jshop_img_description_center, .table th:first-child {
        display: none;
    }
    /* заказ/адрес */
    #jshop_menu_order {
        padding-left: 0 !important;
    }

}

@media (max-width: 460px) {
    /* корзина */
    .jshop, form {
        font-size: 0.8rem;
    }
    .jshop_order_step {
        font-size: 0.8rem;
    }
}

@media (max-width: 370px) {
    /* главная */
    .topBlock > .label_products > .block_item > .item_image {
        height: 160px !important;
    }
    .topBlock > .label_products > .block_item > .item_image > a > img {
        max-height: 160px !important;
    }

    /* новые поступления */
    .btn-buy {
        width: 80%;
    }

    /* корзина */
    .jshop, form {
        font-size: 0.7rem;
    }
    .btn-success {
        width: 80% !important;
    }
    .back_to_shop {
        margin-right: 0 !important;
    }
    .btn-group {
        width: 100% !important;
    }
}