
/**********************************/
/*  Стили для выпадающего списка категорий  *******************************************************/

.category-menu {
    width: 100%;
}

.first-menu ul {
    padding-left: 20px;
    display: block;
}

.first-menu li{
    list-style: none;
    margin-bottom: 3px;
    display: block;
    overflow: visible;
    float: none;
    clear: none;
}

.sp-module ul > li > a:hover {
    color: #f46140 !important;
}

.first-menu a{
    text-decoration: none;
}

.first-menu input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.first-menu label, .first-menu a {
    color: #333;
    font-size: 1rem;
}

.first-menu label:after{
    content: ' \25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
    padding-right: 5px; /* Расстояние от маркеров до текста */
    color: red; /* Маркеры красного цвета */
    position: relative;
    left: 20px;
    transition: 1s;
}

.first-menu label {
    position: relative;
    display: block;
    overflow: visible;
    float: right;
    clear: none;
    cursor: pointer;
}

.checkbox-label {
    margin: 0px;
    float: none;
    cursor: pointer;
}

.first-menu input[type=checkbox]:checked + label + ul,
.first-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    display: none;
}

.first-menu input[type=checkbox]:checked + label:after{
    left: 0px;
    color: #FFB321;
}

.oval{
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid PeachPuff;
    border-radius: 8px;
    background: Moccasin;
}

/*********************************************************************************************/

/* выравнивание для корзины в шапке*/
.my-cart{
    text-align: right;
    margin-top: 20px;
}

.jshop {
    margin-top: 10px;
}

#system-message-container {
    margin-top: 15px;
}

/* выравнивание для поиска в шапке*/
.my-search{
    margin-top: 20px;

}

/* стиль строки поиска, точнее поле input, в шапке сайта*/
.my-input-search{
    width: 80% !important;
    height: 40px;
    display: inline-block !important;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
}

/* кнопка поиска в шапке сайта*/
.my-btn-search{
    height: 40px !important;
    margin-top: -5px !important;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
    margin-left: -5px;
    background-color: #f46140;
    width: 100px !important;
}

/* тень под шапкой + фиксация зоны с логотипом*/
#sp-logozone{
    border-bottom: 1px solid rgba(38,38,38,0.1);
    box-shadow:0px 5px 5px 0px rgba(38,38,38,0.1);
    -webkit-box-shadow:0px 5px 5px 0px rgba(38,38,38,0.1);
    -moz-box-shadow:0px 5px 5px 0px rgba(38,38,38,0.1);
    width: 100%;
    z-index: 150;
    margin-top: 44px;
    padding: 0 !important;
    position: fixed;
}
/* фиксация меню */
#sp-menu {
    width: 100%;
    margin-top: 70px;
    height: auto;
    position: fixed;
    z-index: 140;
    background: #fff;
    box-shadow:0px 5px 8px 0px rgba(255,255,255,0.3);
    -webkit-box-shadow:0px 5px 8px 0px rgba(255,255,255,0.3);
    -moz-box-shadow:0px 5px 5px 8px rgba(255,255,255,0.3);
}
/* сдвиг основного контента вниз, чтобы фиксированное меню не перекрывало */
#sp-main-body {
    width: 100%;
    padding: 50px 0 !important;
    margin-top: 161px;
    min-height: 75vh;
}
/* фиксация верхней информационной строки */
#sp-inform-top {
    width: 100%;
    position: fixed;
    z-index: 150;
}

/* стиль для цифры(количества товаров в корзине) в шапке*/
#jshop_quantity_products{
    font-size: .6em;
    margin-left: 5px;
}
/* Стиль для иконки корзины в шапке */
.fa-shopping-cart::before {
    content: "\f07a";
    font-size: 1.2rem;
}

/* выравниваем надпись Корзина */
#jshop_module_cart a {
    line-height: 1.95rem;
}

/* Убираем копирайт со страниц*/
body #mxcpr,a[href="https://www.webdesigner-profi.de/"]{display:none!important}

/* стиль для ссылок в мега меню Наши услуги*/
.my-mega .sp-mega-group > li > a:hover{
    color: #f46140;
}

/* Скрыла пока кнопку Изменить для всех материалов на сайте */
.article-details .article-can-edit {
    position: absolute !important;
    left: 0;
    top: 0;
    height: 0.001px;
    width: 0.001px;
}
.article-details .article-can-edit a {
    position: absolute !important;
    left: 0;
    top: 0;
    height: 0.001px;
    width: 0.001px;
    display: none !important;
}

/* Заголовки к статьям на сайте */
.beginTitleArticles {
    margin: 0 auto;
    padding: 10px auto;
    text-align: left;
}

.beginTitleArticles h1 {
    font-size: 1.8rem !important;
}

/*****************************/
/*****************************/
/*****************************/
/* СТИЛИ ДЛЯ МЕДИА УСТРОЙСТВ */
@media (min-width: 1200px) {
    /* главная страница */
    #sp-logo {
        max-width: 30%;
        margin-left: -10px;
    }
    #sp-search {
        max-width: 60%;
    }
    #sp-position1 {
        max-width: 10%;
        margin-left: 45px;
    }
    #sp-logozone {
        margin-top: 44px !important;
    }
    .jshop_categ {
        min-height: auto !important;
    }
    /* о нас */
    .book-img {
        margin: 40px 0 0 30px !important;
    }
    /* страница категории */
    .product_title {
        max-height: 90px !important;
        min-height: 90px !important;
    }
    .product_title > a {
        height: 90px;
        display: inline-block;
    }
    .product_title {
        overflow: hidden;
        padding: 0;
    }
    .product_title::after {
        content: "";
        display: block;
        height: 15px;
        position: relative;
        bottom  : 35px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff 75%);
    }
    /* заказ/адрес */
    #jshop_menu_order {
        padding-left: 0 !important;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    /* главная страница */
    #sp-top1 {
        width: 20%;
    }
    #sp-top2 {
        width: 80%;
    }
    #sp-logo {
        max-width: 30% !important;
    }
    #sp-search {
        max-width: 60% !important;
    }
    #sp-position1 {
        max-width: 10% !important;
        margin-left: 23px;
    }
    .my-input-search {
        width: 70% !important;
    }
    .logo {
        margin-left: -10px;
    }
    #slider-container117 {
        width: 85%;
        left: 7.5%;
    }
    #navigation117 {
        margin: 0 !important;
    }
    #sp-menu {
        margin-top: 70px;
    }
    #sp-component {
        margin-top: 20px;
    }
    /* о нас */
    .book-img {
        margin: 40px 0 0 30px !important;
    }
    /* страница категории */
    .jshop .product_label {
        right: -8px;
        top: 8px;
    }
    .mainblock, .my_btn_styles {
        margin-left: 50px !important;
    }
    .product_title {
        max-height: 90px !important;
        min-height: 90px !important;
    }
    .product_title > a {
        height: 90px;
        display: inline-block;
    }
    .product_title {
        overflow: hidden;
        padding: 0;
    }
    .product_title::after {
        content: "";
        display: block;
        height: 15px;
        position: relative;
        bottom  : 15px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff 75%);
    }
    /* страница книги */
    .productfull .span7 {
        width: 50% !important;
    }
    .productfull .product_label {
        right: -10px !important;
    }
    /* расширенный поиск */
    .search_wrap {
        width: 40% !important;
    }
    /* заказ/адрес */
    #jshop_menu_order {
        padding-left: 0 !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    /* главная страница */
    #sp-top1 {
        width: 20%;
    }
    #sp-top2 {
        width: 80%;
    }
    #sp-logozone {
        margin-top: 68px;
    }
    #sp-logo {
        max-width: 30% !important;
    }
    #sp-search {
        max-width: 58% !important;
    }
    #sp-position1 {
        max-width: 12% !important;
    }
    .logo {
        margin-left: -6px;;
    }
    .my-input-search {
        width: 70% !important;
    }
    #sp-menu {
        margin-top: 80px;
    }
    #sp-component {
        margin-top: 20px;
    }
    #slider-container117 {
        width: 85%;
        left: 7%;
    }
    #sp-main-body {
        padding-bottom: 0 !important;
    }
    /* о нас */
    .book-img {
        width: 160px !important;
        margin: 40px 0 0 30px !important;
    }
    /* страница категории */
    .box_products_sorting {
        width: 50% !important;
    }
    .box_products_count_to_page{
        width: 40% !important;
    }
    .mainblock {
        width: 65% !important;
    }
    .jshop .product_label {
        right: 0;
    }
    .product_title {
        max-height: 90px !important;
        min-height: 90px !important;
    }
    .product_title > a {
        height: 90px;
        display: inline-block;
    }
    .product_title {
        overflow: hidden;
        padding: 0;
    }
    .product_title::after {
        content: "";
        display: block;
        height: 15px;
        position: relative;
        bottom  : 15px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff 75%);
    }
    /* страница книги */
    .productfull .span7 {
        width: 45% !important;
    }
    .productfull .product_label {
        right: -10px !important;
    }
    .productfull .span5 {
        width: 50% !important
    }
    /* контакты */
    #slider-container118 {
        width: 84%;
        left: 8%;
    }
    #cust-navigation118 {
        right: 50px !important;
    }
    /* расширенный поиск */
    .js_search_gen .controls {
        margin-left: 100px !important;
    }
    .search_wrap {
        width: 50% !important;
    }
    /* заказ/адрес */
    #jshop_menu_order {
        padding-left: 0 !important;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    /* главная страница */
    #sp-inform-top {
        padding: 15px 30px !important;
    }
    #sp-top1 {
        width: 20%;
    }
    #sp-top2 {
        width: 80%;
    }
    #sp-top2, #sp-top1 {
        padding: 0;
    }
    #sp-logozone {
        margin-top: 102px;
    }
    #sp-logo {
        max-width: 50% !important;
    }
    #sp-search {
        display: none;
    }
    #sp-position1 {
        max-width: 50% !important;
    }
    #sp-menu {
        margin-top: 100px;
    }
    #sp-component {
        margin-top: 55px;
    }
    #slider-container117 {
        width: 85%;
        left: 7%;
    }
    #navigation117 {
        margin: 0 !important;
    }
    .topBlock .label_products .block_item .item_image {
        height: 50% !important;
    }
    .sp-scroll-up {
        bottom: 21px !important;
        right: 10px !important;
    }
    .logo {
        margin-left: -7px;
    }
    #sp-main-body {
        padding-bottom: 0 !important;
    }
    /* о нас */
    .book-img {
        width: 150px !important;
        margin: 40px 0 0 30px !important;
    }
    /* страница категории */
     .box_products_sorting {
        width: 40% !important;
    }
    .box_products_count_to_page{
        width: 40% !important;
    }
    .jshop .product_label {
        top: 5px;
        left: 4px;
    }
    .mainblock {
        width: 65% !important;
    }
    .product_title {
        max-height: 90px !important;
        min-height: 90px !important;
    }
    .product_title > a {
        height: 90px;
        display: inline-block;
    }
    .product_title {
        overflow: hidden;
        padding: 0;
    }
    .product_title::after {
        content: "";
        display: block;
        height: 15px;
        position: relative;
        bottom  : 15px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff 75%);
    }
    /* страница книги */
    .productfull .span7 {
        width: 45% !important;
    }
    .productfull .product_label {
        right: -10px !important;
    }
    .productfull .span5 {
        width: 50% !important
    }
    /* доставка и оплата */
    .delivery, .parcel, .pay {
        width: 200px !important;
    }
    /* контакты */
    #slider-container118 {
        width: 84%;
        left: 8%;
    }
    #cust-navigation118 {
        right: 40px !important;
    }
    /* корзина */
    .table td, .table th {
        padding: 0 !important;
        text-align: center !important;
    }
    .jshop_prod_cart .product_name > a {
        max-height: 200px !important;
        display: inline-block;
        overflow: hidden;
        padding: 5px;
    }
    /* заказ/адрес */
    #jshop_menu_order {
        padding-left: 0 !important;
    }
}

@media (max-width: 575px) {
    /* главная страница */
    #sp-top1 {
        width: 20%;
    }
    #sp-top2 {
        width: 80%;
    }
    #sp-logozone {
        margin-top: 92px;
    }
    #sp-logo {
        max-width: 50% !important;
    }
    #sp-search {
        display: none;
    }
    #sp-position1 {
        max-width: 50% !important;
    }
    #sp-inform-top {
        padding: 10px 0 10px !important;
    }
    #sp-menu {
        margin-top: 90px;
        max-height: 80px;
    }
    #sp-component {
        margin-top: 40px;
    }
    #slider-container117 {
        width: 84%;
        left: 8%;
    }
    .topBlock .label_products .block_item .item_image {
        height: 45% !important;
    }
    .sp-scroll-up {
        bottom: 21px !important;
        right: 10px !important;
    }
    #sp-main-body {
        padding-bottom: 0 !important;
    }
    /* о нас */
    .book-img {
        width: 130px !important;
        margin: 40px 0 0 30px !important;
    }
    /* страница категории */
    .box_products_sorting {
        width: 50% !important;
    }
    .box_products_count_to_page{
        width: 40% !important;
    }
    .jshop .product_label {
        top: 5px;
        left: 4px;
    }
    .mainblock {
        width: 65% !important;
    }
    .btn-buy {
        width: 50%;
    }
    .product_title {
        max-height: 70px !important;
        min-height: 70px !important;
    }
    .product_title > a {
        height: 70px;
        display: inline-block;
    }
    .product_title {
        overflow: hidden;
        padding: 0;
    }
    .product_title::after {
        content: "";
        display: block;
        height: 15px;
        position: relative;
        bottom  : 15px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff 75%);
    }
    /* страница книги */
    .productfull .span7 {
        width: 100% !important;
    }
    .productfull .span5 {
        width: 100% !important
    }
    /* подарочные сертификаты */
    .sertificateCarts {
        width: 200px !important;
    }
    /* доставка и оплата */
    .delivery, .parcel, .pay {
        width: 400px !important;
    }
    /* контакты */
    #slider-container118 {
        width: 84%;
        left: 8%;
    }
    #cust-navigation118 {
        right: 30px !important;
    }
    /* корзина */
    .table td, .table th {
        padding: 0 !important;
        text-align: center !important;
    }
    .jshop_prod_cart .product_name > a {
        max-height: 200px !important;
        display: inline-block;
        overflow: hidden;
        /*padding: 5px;*/
    }
    .jshop_prod_cart .jshop_img_description_center, .table th:first-child {
        display: none;
    }
    /* заказ/адрес */
    #jshop_menu_order {
        padding-left: 0 !important;
    }
}